.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.todos {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.add-todo-form {
}

.todo {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

.removeIcon {
  position: absolute;
  right: 10px;
  color: red;
  cursor: pointer;
}

.todo-active {
  background-color: rgba(30, 200, 30, 0.6);
  text-decoration: line-through;
}

.error {
  color: red;
}

.logout {
  border: 1px solid black;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
  cursor: pointer;
}
